/*header {
    height: 100px;
    border:7px dashed red;
}*/
* {
    margin: 0px;
}
body {
    display: grid;
    height: 100vh;

    display: grid;
    grid-template-areas: "header header" "main asid" "footer footer";
    grid-template-rows: 160px 1fr 60px;
    grid-template-columns: 1fr;
}
header {
    grid-area: header;
    background-color: aqua;
}

main {
    grid-area: main;
    background-color: rgb(242, 239, 45);
}

aside {
    grid-area: asid;
    background-color: rgb(95, 200, 165);
}

footer {
    grid-area: footer;
    background-color: rgb(#10015f);
}