/** {
    box-sizing: border-box;
}*/

.titulo {
    width: 220px;
    height: 60px;
    border: 1px solid rgb(145, 47, 47);
    margin: 5%;
    padding: 20px 20px;
    box-shadow: 2px 2px 2px black;
}